.vscode
GoogleService/models/__pycache__
GoogleService/utils/__pycache__
GoogleService/tests/__pycache__
GoogleService/manager/__pycache__
GoogleService/manager/client_secret.json
GoogleService/manager/token.json
TelegramBot/.secrets
GoogleService/.secrets
TelegramBot/messages/__pycache__
.pytest_cache