.vscode
SpreadsheetsService/models/__pycache__
SpreadsheetsService/utils/__pycache__
SpreadsheetsService/tests/__pycache__
SpreadsheetsService/manager/__pycache__
SpreadsheetsService/manager/client_secret.json
SpreadsheetsService/manager/token.json
TelegramBot/.secrets
SpreadsheetsService/.secrets
TelegramBot/messages/__pycache__
